################################
# dependencies
################################
node_modules/

################################
# build output
################################
build/
dist/
.next/
out/

################################
# logs
################################
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

################################
# env files (⭐ 매우 중요)
################################
.env
.env.*
!.env.example

################################
# OS
################################
.DS_Store
Thumbs.db

################################
# IDE
################################
.vscode/
.idea/
*.iml

################################
# coverage
################################
coverage/

################################
# cache
################################
.cache/
.parcel-cache/

################################
# test output
################################
cypress/videos/
cypress/screenshots/

################################
# misc
################################
*.local
